Processo de ETL nos dados da BOVESPA com Pandas

Importando Bibliotecas

In [1]:
import pandas as pd

Lendo o arquivo

In [3]:
colspecs = [(2,10),
              (10, 12),
              (12, 24),
              (27, 39),
              (56, 69),
              (69, 82),
              (82, 95),
              (108, 121),
              (152, 170),
              (170, 188)     
  ]
names = ['data_pregao', 'codbdi', 'sigla_acao', 'nome_acao', 'preco_abertura', 'preco_maximo', 'preco_minimo', 'preco_fechamento', 'qtd_negocios', 'volume_negocios']
df = pd.read_fwf('/content/drive/MyDrive/datasets/bovespa/COTAHIST_A2021.TXT', colspecs=colspecs, names= names, skiprows= 1)

df

        data_pregao  codbdi  ... qtd_negocios volume_negocios
0          20210104     2.0  ...       6425.0      33355875.0
1          20210104     2.0  ...         58.0        214677.0
2          20210104     2.0  ...        326.0      13537963.0
3          20210104     2.0  ...       1103.0       6592556.0
4          20210104     2.0  ...        400.0       7984000.0
...             ...     ...  ...          ...             ...
1597154    20211007    78.0  ...       4100.0        188800.0
1597155    20211008    78.0  ...       6000.0        357000.0
1597156    20211011    78.0  ...        100.0          5100.0
1597157    20211013    78.0  ...       1300.0         78900.0
1597158    COTAHIST     0.2  ...          NaN             NaN

[1597159 rows x 10 columns]

Filtrando aÃ§Ãµes

In [4]:
df = df[df['codbdi'] == 2]
df = df.drop(['codbdi'], 1)
df

        data_pregao sigla_acao  ... qtd_negocios  volume_negocios
0          20210104     A1AP34  ...       6425.0     3.335588e+07
1          20210104     A1BB34  ...         58.0     2.146770e+05
2          20210104     A1BM34  ...        326.0     1.353796e+07
3          20210104     A1CR34  ...       1103.0     6.592556e+06
4          20210104     A1EE34  ...        400.0     7.984000e+06
...             ...        ...  ...          ...              ...
1011597    20211007      STBP3  ...    4041800.0     2.960645e+09
1011598    20211008      STBP3  ...    2474200.0     1.860906e+09
1011599    20211011      STBP3  ...    2062300.0     1.535945e+09
1011600    20211013      STBP3  ...    4281100.0     3.162161e+09
1011601    20211014      STBP3  ...    4848500.0     3.575335e+09

[170810 rows x 9 columns]

Ajustando o campo de Data

In [5]:
df['data_pregao'] = pd.to_datetime(df['data_pregao'], format= '%Y%m%d')
df

        data_pregao sigla_acao  ... qtd_negocios  volume_negocios
0        2021-01-04     A1AP34  ...       6425.0     3.335588e+07
1        2021-01-04     A1BB34  ...         58.0     2.146770e+05
2        2021-01-04     A1BM34  ...        326.0     1.353796e+07
3        2021-01-04     A1CR34  ...       1103.0     6.592556e+06
4        2021-01-04     A1EE34  ...        400.0     7.984000e+06
...             ...        ...  ...          ...              ...
1011597  2021-10-07      STBP3  ...    4041800.0     2.960645e+09
1011598  2021-10-08      STBP3  ...    2474200.0     1.860906e+09
1011599  2021-10-11      STBP3  ...    2062300.0     1.535945e+09
1011600  2021-10-13      STBP3  ...    4281100.0     3.162161e+09
1011601  2021-10-14      STBP3  ...    4848500.0     3.575335e+09

[170810 rows x 9 columns]

Ajuste dos campos nÃºmericos

In [6]:
df['preco_abertura'] = (df['preco_abertura']/100).astype(float)
df['preco_maximo'] = (df['preco_maximo']/100).astype(float)
df['preco_minimo'] = (df['preco_minimo']/100).astype(float)
df['preco_fechamento'] = (df['preco_fechamento']/100).astype(float)
df['qtd_negocios'] = (df['qtd_negocios']).astype(int)
df['volume_negocios'] = (df['volume_negocios']).astype(int)

df

        data_pregao sigla_acao  ... qtd_negocios  volume_negocios
0        2021-01-04     A1AP34  ...         6425         33355875
1        2021-01-04     A1BB34  ...           58           214677
2        2021-01-04     A1BM34  ...          326         13537963
3        2021-01-04     A1CR34  ...         1103          6592556
4        2021-01-04     A1EE34  ...          400          7984000
...             ...        ...  ...          ...              ...
1011597  2021-10-07      STBP3  ...      4041800       2960644900
1011598  2021-10-08      STBP3  ...      2474200       1860905700
1011599  2021-10-11      STBP3  ...      2062300       1535945000
1011600  2021-10-13      STBP3  ...      4281100       3162161300
1011601  2021-10-14      STBP3  ...      4848500       3575334900

[170810 rows x 9 columns]

In [7]:
df.dtypes

data_pregao         datetime64[ns]
sigla_acao                  object
nome_acao                   object
preco_abertura             float64
preco_maximo               float64
preco_minimo               float64
preco_fechamento           float64
qtd_negocios                 int64
volume_negocios              int64
dtype: object

Salvando em CSV

In [9]:
df.to_csv('bovespa_tratado', index=False)